---
import Card from "../Card.astro";
import { getMyInfo } from "@/utils";
import { Icon } from "astro-icon/components";
const my_info = await getMyInfo();
---

<Card title="EDUCATION">
    {my_info.education.map((education_row) => (
      <div
        class="grid-education align-items-center"
      >
      <div class="col">
        <div>{education_row.degree}, {education_row.speciality}</div>

        <div class="course-title">{education_row.school_name}</div>
        <div class="job-time-location">
          <Icon name="mdi:calendar-month" size="15" style="margin-right: 2px;" />
          {new Date(education_row.start_date).getFullYear()}
          -
          {new Date(education_row.end_date).getFullYear()}
        </div>
      </div>

      <div class="text-center gpa-col">
        <div class="normal-text">GPA</div>

        <div>
          <span class="sec-color">{education_row.grade}</span> /
          {education_row.grade_max}
        </div>
      </div>
    </div>
  ))}
</Card>
