---
import Card from "../Card.astro";
import { formatDate } from "@/utils";
import { Icon } from "astro-icon/components";
import { getCollection } from "astro:content";
const my_info = (await getCollection('myInfo'))[0].data;
---

<Card title="EXPERIENCE">
    {my_info.job_history.map((job_info) => (
      <div class="job-title">{job_info.job_title}</div>
      <div class="company-name">{job_info.company}</div>

      <div class="job-time-location">
        <Icon name="mdi:calendar-month" size="15" style="margin-right: 2px;" />
        {formatDate(job_info.start_date)}
        -
        {formatDate(job_info.end_date)}

        <Icon name="mdi:map-marker" size="15" style="margin-left: 15px;" />
        {job_info.location}
      </div>
      <div class="company-description">{job_info.company_description}</div>

      <ul class="responsibility-list">
        {job_info.responsibilities.map((responsibility) => (
          <li>{responsibility}</li>
        ))}
      </ul>

      <hr class="dashed-line" />
    ))}
</Card>
