---
import Card from "../Card.astro";
import { formatDate } from "@/utils";
import { Icon } from "astro-icon/components";
import { getCollection } from "astro:content";
const my_info = (await getCollection('myInfo'))[0].data;
---

<Card title="PROJECTS">
    {my_info.projects.map((project) => (
      <div class="project-title">{project.title}</div>
      <div class="job-time-location">
        <Icon name="mdi:calendar-month" size="15" style="margin-right: 2px;" /> 
        {formatDate(project.start_date)}
        -
        {formatDate(project.end_date)}

        <Icon name="mdi:map-marker" size="15" style="margin-left: 15px;" />
        {project.location}
      </div>

      <div class="normal-text">{project.my_role}</div>
      <ul class="responsibility-list">
        {project.results.map((project_result) => (
          <li>{project_result}</li>
        ))}
      </ul>

      <hr class="dashed-line" />
    ))}
</Card>
